In [2]:
import pandas as pd

In [64]:
import numpy as np
import os

In [99]:
weather_input_dir = '../data/processed/WeatherData/'

In [100]:
cut_off_data = pd.read_csv('../data/processed/Archive/cut_off_price.csv', parse_dates=[
            "Trade_Datetime"], index_col="Trade_Datetime")

In [101]:
weather_paths = []
for dirpath, subdirs, files in os.walk(weather_input_dir):
    for x in files:
        if x.endswith(".csv"):
            weather_paths.append((x[:5], os.path.join(dirpath, x)))

In [103]:
weather_paths

[('ecmen', '../data/processed/WeatherData/ecmen_weather_subclass.csv'),
 ('ecmop', '../data/processed/WeatherData/ecmop_weather_subclass.csv'),
 ('gfsen', '../data/processed/WeatherData/gfsen_weather_subclass.csv'),
 ('gfsop', '../data/processed/WeatherData/gfsop_weather_subclass.csv')]

In [104]:
for weather_pt in weather_paths:
    cl_name = weather_pt[0]+"_pulicate_time"
    weather_data = pd.read_csv(weather_pt[1])
    cut_off_data[cl_name] = np.nan
    time_sep = weather_data["Trans_INIT_Time"].drop_duplicates(
    ).reset_index(drop=True).values
    cutoff_pair = list(zip(time_sep, time_sep[1:]))
    for pair in cutoff_pair:
        cut_off_data[cl_name].loc[pair[0]:pair[1]] = pair[0]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [105]:
cut_off_data

,Contract_Delivery_Date,Low_Price,High_Price,Open_Price,Close_Price,Trade_Quantity,Vwap,ecmen_pulicate_time,ecmop_pulicate_time,gfsen_pulicate_time,gfsop_pulicate_time
Trade_Datetime,,,,,,,,,,,
2015-01-28 13:29:00,1503,2.841,2.846,2.843,2.846,4399,2.843,2015-01-28 01:40:00,2015-01-28 12:55:00,2015-01-28 12:55:00,2015-01-28 11:13:00
2015-01-28 13:30:00,1503,2.838,2.847,2.845,2.839,862,2.843,2015-01-28 01:40:00,2015-01-28 12:55:00,2015-01-28 12:55:00,2015-01-28 11:13:00
2015-01-28 13:31:00,1503,2.837,2.841,2.840,2.837,137,2.839,2015-01-28 01:40:00,2015-01-28 12:55:00,2015-01-28 12:55:00,2015-01-28 11:13:00
2015-01-28 13:32:00,1503,2.837,2.839,2.838,2.837,111,2.838,2015-01-28 01:40:00,2015-01-28 12:55:00,2015-01-28 12:55:00,2015-01-28 11:13:00
2015-01-28 13:33:00,1503,2.835,2.839,2.837,2.837,84,2.837,2015-01-28 01:40:00,2015-01-28 12:55:00,2015-01-28 12:55:00,2015-01-28 11:13:00
...,...,...,...,...,...,...,...,...,...,...,...
2021-04-30 23:49:00,2106,2.898,2.898,2.898,2.898,1,2.898,NaN,NaN,NaN,NaN
2021-04-30 23:53:00,2106,2.898,2.899,2.898,2.899,5,2.899,NaN,NaN,NaN,NaN
2021-04-30 23:55:00,2106,2.899,2.899,2.899,2.899,1,2.899,NaN,NaN,NaN,NaN
2021-04-30 23:56:00,2106,2.897,2.897,2.897,2.897,1,2.897,NaN,NaN,NaN,NaN
2021-04-30 23:59:00,2106,2.898,2.898,2.898,2.898,1,2.898,NaN,NaN,NaN,NaN

In [106]:
cut_off_data.isna().sum()

Contract_Delivery_Date        0
Low_Price                     0
High_Price                    0
Open_Price                    0
Close_Price                   0
Trade_Quantity                0
Vwap                          0
ecmen_pulicate_time       23102
ecmop_pulicate_time       23142
gfsen_pulicate_time       22942
gfsop_pulicate_time       22992
dtype: int64

In [111]:
weather_col_names = [ item[0] + "_pulicate_time" for item in weather_paths]
cut_off_data.dropna(how='all',subset=weather_col_names, inplace=True)

In [112]:
cut_off_data

,Contract_Delivery_Date,Low_Price,High_Price,Open_Price,Close_Price,Trade_Quantity,Vwap,ecmen_pulicate_time,ecmop_pulicate_time,gfsen_pulicate_time,gfsop_pulicate_time
Trade_Datetime,,,,,,,,,,,
2015-01-28 13:29:00,1503,2.841,2.846,2.843,2.846,4399,2.843,2015-01-28 01:40:00,2015-01-28 12:55:00,2015-01-28 12:55:00,2015-01-28 11:13:00
2015-01-28 13:30:00,1503,2.838,2.847,2.845,2.839,862,2.843,2015-01-28 01:40:00,2015-01-28 12:55:00,2015-01-28 12:55:00,2015-01-28 11:13:00
2015-01-28 13:31:00,1503,2.837,2.841,2.840,2.837,137,2.839,2015-01-28 01:40:00,2015-01-28 12:55:00,2015-01-28 12:55:00,2015-01-28 11:13:00
2015-01-28 13:32:00,1503,2.837,2.839,2.838,2.837,111,2.838,2015-01-28 01:40:00,2015-01-28 12:55:00,2015-01-28 12:55:00,2015-01-28 11:13:00
2015-01-28 13:33:00,1503,2.835,2.839,2.837,2.837,84,2.837,2015-01-28 01:40:00,2015-01-28 12:55:00,2015-01-28 12:55:00,2015-01-28 11:13:00
...,...,...,...,...,...,...,...,...,...,...,...
2021-03-31 19:23:00,2105,2.623,2.623,2.623,2.623,2,2.623,NaN,NaN,2021-03-31 13:28:00,NaN
2021-03-31 19:25:00,2105,2.623,2.623,2.623,2.623,9,2.623,NaN,NaN,2021-03-31 13:28:00,NaN
2021-03-31 19:26:00,2105,2.624,2.624,2.624,2.624,7,2.624,NaN,NaN,2021-03-31 13:28:00,NaN
2021-03-31 19:27:00,2105,2.624,2.624,2.624,2.624,2,2.624,NaN,NaN,2021-03-31 13:28:00,NaN
2021-03-31 19:29:00,2105,2.624,2.625,2.624,2.625,21,2.624,NaN,NaN,2021-03-31 13:28:00,NaN